.jumbotron {
    background-color: #739ed5;  
    color: black;
    margin-top: -8px;
    padding-bottom: 0px;
  }

  .jumbotron  h1{
    color: white;
  }
  
  footer {
      padding: 10px 10px 0px 10px;
      background-color: #739ed5;
      margin-top: 35px;
  }

  .direccion,
  footer address,
  footer a{
      color: white;
  }

  .footer-address-icon{
      margin-right: 5px;;
  }

  footer address{
      margin-bottom: 0px;;
  }

  .direccion{
      font-weight: 600;
      font-size: 20px;
  }
  
  .btn {
      color: white;
  }
  
  .card-object{
      flex: 1 200px;
      padding: 2px 0px 0px 0px;
      margin-top: 15px;
      margin-bottom: 15px;
      margin-right: 15px;
      background-color: white;
  }

  .card-subtitle {
      padding-bottom: 10px;
  }

  .imagen-producto {
      padding-bottom: 10px;
  }
  .card-separation{
    flex: 1 50px;
  }

  .description{
      padding-bottom: 5px;
  }

  .display-4{
      font-weight: 400;
  }
  
  .btn-ver{
      width: 100%;
      border-radius: 0px;
  }
 
  .center-text {
      text-align: center;
  }

  hr.style1{
	border-top: 1px solid #8c8b8b;
}

.container-productos{
    background-color: #f4f4f4;
}
